In [1]:
import pandas as pd
import numpy as np

kaggle_df = pd.read_csv('kaggle_dataset_df_page500.csv')
print(kaggle_df.shape[0])
kaggle_df

9498

,title,subtitle,keyword,description,totalDownloads,totalViews,totalVotes,ownerUser,dataset_slug
0,The Bachelor Contestants,This dataset contains information about past s...,[],\n### About this dataset\n&gt; <p>Creating a b...,0,5,1,yamqwe,the-bachelor-contestantse
1,Mineral photos,"+39,000 images of mineral stored in 15 categories",['arts and entertainment'],NaN,5,31,0,floriangeillon,mineral-photos
2,Deepwater Ports,A Dataset of the Deepwater Port Licensing Program,"['business', 'transportation', 'water transport']",\n### About this dataset\n&gt; <p><strong>The ...,1,7,1,yamqwe,deepwater-portse
3,ubiquant_train_target,NaN,[],NaN,0,1,0,goweiting,ubiquant-train-target
4,easy_firefly_weights,NaN,[],NaN,0,19,0,tejaschaudhari2811,easy-firefly-weights
...,...,...,...,...,...,...,...,...,...
9493,Stanford Earthquake Dataset (STEAD),A Global Data Set of Seismic Signals for AI,"['earth science', 'geology', 'physics', 'signa...",# Properties of the dataset\nSTEAD includes tw...,31,505,5,isevilla,stanford-earthquake-dataset-stead
9494,Asphalt Cracks,NaN,[],NaN,2,46,0,abrahamanderson,asphalt-cracks
9495,Maternal Health Risk Data,Predicting health risks for pregnant patients,"['healthcare', 'public health', 'health', 'reg...",### Context\n\n Data has been collected from d...,519,4103,19,csafrit2,maternal-health-risk-data
9496,Medical Personal Protective Equipment Images,NaN,"['medicine', 'image data', 'covid19']",### Context\n\nCPPE - 5 (Medical Personal Prot...,3,95,3,skaarface,medical-personal-protective-equipment-images
9497,Higher Education Students Performance Evaluation,Machine Learning Prediction Analysis,"['research', 'education', 'multiclass classifi...",###Abstract###\n\nThe data was collected from ...,1357,8231,31,csafrit2,higher-education-students-performance-evaluation

In [2]:
paperwithcode_df = pd.read_csv('paperwithcode_df.csv')
print(paperwithcode_df.shape[0])
paperwithcode_df

5627

,title,description,owner,date,subtitle,keywords,#downloads,#views,#votes,dataset_slug
0,MNIST,The **MNIST** database (**Modified National In...,https://paperswithcode.com/dataset/mnist,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,CelebA,"CelebFaces Attributes dataset contains 202,599...",https://paperswithcode.com/dataset/celeba,01/01/2015,CelebFaces Attributes Dataset,NaN,NaN,NaN,NaN,NaN
2,JFT-300M,**JFT-300M** is an internal Google dataset use...,https://paperswithcode.com/dataset/jft-300m,10/07/2017,JFT-300M,NaN,NaN,NaN,NaN,NaN
3,GLUE,General Language Understanding Evaluation (**G...,https://paperswithcode.com/dataset/glue,01/01/2019,General Language Understanding Evaluation benc...,NaN,NaN,NaN,NaN,NaN
4,MultiNLI,The **Multi-Genre Natural Language Inference**...,https://paperswithcode.com/dataset/multinli,01/01/2018,Multi-Genre Natural Language Inference,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
5622,"Dataset for the Article ""Does the Venue of Sci...",Is there any correlation between the impact of...,https://paperswithcode.com/dataset/dataset-for...,31/05/2021,NaN,NaN,NaN,NaN,NaN,NaN
5623,WSJ Dow Jones Stock Data,Please see code repository. [https://github.co...,https://paperswithcode.com/dataset/wsj-dow-jon...,15/02/2022,NaN,NaN,NaN,NaN,NaN,NaN
5624,ZInd,The Zillow Indoor Dataset (ZInD) provides exte...,https://paperswithcode.com/dataset/zind,NaN,Zillow Indoor Dataset,NaN,NaN,NaN,NaN,NaN
5625,IMDB-Clean,We have cleaned the noisy IMDB-WIKI dataset us...,https://paperswithcode.com/dataset/imdb-clean,21/06/2021,NaN,NaN,NaN,NaN,NaN,NaN
5626,TriggerCit 2021 Thailand / Nepal floods,Twitter dataset related to flood events onsets...,https://paperswithcode.com/dataset/triggercit-...,24/02/2022,Twitter dataset of flood-related images for Se...,NaN,NaN,NaN,NaN,NaN

In [3]:
bm25_res_covid_2021 = pd.read_csv('bm_25_result_df_covid_2021.csv')
tfidf_res_covid_2021 = pd.read_csv('tfidf_result_df_covid_2021.csv')
bm25_res_covid_2021

                  title  subtitle  description  Source
0     Covid_19_Analysis       NaN          NaN  Kaggle
1  Covid19casesMalaysia       NaN          NaN  Kaggle
2               covid19       NaN          NaN  Kaggle
3       COVID19_CT_7930       NaN          NaN  Kaggle
4             covid19_3       NaN          NaN  Kaggle
5             covid-190       NaN          NaN  Kaggle
6              covid_19       NaN          NaN  Kaggle
7             covid_470       NaN          NaN  Kaggle
8           covid19deta       NaN          NaN  Kaggle
9               Covid19       NaN          NaN  Kaggle

In [4]:
tfidf_res_covid_2021

,title,subtitle,description,Source
0,COVID-QU,NaN,### COVID-QU-Ex Dataset\nThe researchers of Qa...,Kaggle
1,Huge Dataset - COVID 19 worldwide case,"COVID 19 dataset from Jan 28, 2020 to Jan 8, ...",### Context\n\nThe dataset contains COVID 19 d...,Kaggle
2,COVID-19 India Dataset @ IndoML 2021,Detailed COVID-19 Data from Daily Health Bulle...,# COVID-19 Datathon @ IndoML 2021\n\nThe COVID...,Kaggle
3,Proyecto 1: Exceso de Muertes por COVID19,Realiza una estimación de las muertes por COVI...,### Introducción\n\nEn este proyecto realizará...,Kaggle
4,COVID-19 Tracking Germany,Daily Updated Cases & Deaths - Augmented with ...,Read the [associated blogpost](https://heads0r...,Kaggle
5,COVID19_datasets,COVID-19 datasets obtained from github.com/nyt...,Collected COVID-19 datasets from various sourc...,Kaggle
6,ICC T20 World Cup 2021 Tweets 🏏,Explore the tweets made by fans with the #T20W...,\n![](https://www.timesofsports.com/wp-content...,Kaggle
7,COVID-19 Indonesia Dataset (Case and Vaccination),COVID-19 Daily Case and Vaccination Progress ...,### Context\n\nSince the first time the Covid ...,Kaggle
8,Covid-19 in Singapore : Latest Detailed Data,Latest and regularly updated covid 19 in Singa...,### Latest Covid 19 Data of Singapore \n\nData...,Kaggle
9,covid-19 data of india,Weekly/Dialy Updated covid-19 dataset of india,[![forthebadge](https://forthebadge.com/images...,Kaggle

In [5]:
bm25_res_review_food = pd.read_csv('bm_25_result_df_review_food.csv')
tfidf_res_review_food = pd.read_csv('tfidf_result_df_review_food.csv')
bm25_res_review_food

,title,subtitle,description,Source
0,Foods Dataset,Foods from SEA region,NaN,Kaggle
1,Reviews,Classify using user reviews,NaN,Kaggle
2,food-11,NaN,NaN,Kaggle
3,INDONESIAN FOOD,NaN,NaN,Kaggle
4,Food Delivery,NaN,NaN,Kaggle
5,reviews,NaN,NaN,Kaggle
6,review,NaN,NaN,Kaggle
7,Italian Food Recipes,NaN,NaN,Kaggle
8,food101_tfrecords,A dataset of 101 food categories with 101000 i...,NaN,Kaggle
9,Amazon Fine Foods,NaN,Amazon Fine Foods is a dataset that consists o...,Paper_with_code

In [6]:
tfidf_res_review_food

,title,subtitle,description,Source
0,SemEval 2014 Task 4: AspectBasedSentimentAnalysis,SemEval-2014 ABSA Task is based on laptop and ...,Copied from [https://alt.qcri.org/semeval2014/...,Kaggle
1,Amazon Fine Foods,NaN,Amazon Fine Foods is a dataset that consists o...,Paper_with_code
2,Amazon Food,List of Amazon Food with UserId & ProductId,### Context\n\nThis dataset consists of produc...,Kaggle
3,⭐ McDonalds Review Sentiment,"2000 collected samples, technical information",\n### About this dataset\n&gt; <p>A sentiment ...,Kaggle
4,Chocolate Ratings,Reviews on more than 2400 chocolate bars!,# About this dataset :chocolate_bar:\n&gt; Cho...,Kaggle
5,Urdu Online Reviews,Urdu Online Reviews,"This corpus was constructed by collecting 10,0...",Paper_with_code
6,Affordability of Diets,Cost and affordability of nutritious diets acr...,\n### About this dataset\n&gt; <h2><strong>Abo...,Kaggle
7,🍔 Fast Food Restaurants Across America,"A list of 10,000 fast food restaurants provide...",\n### About this dataset\n&gt; <h1>About This ...,Kaggle
8,Food2K,NaN,Food2K is a large food recognition dataset wit...,Paper_with_code
9,Food Recognition 2022: Dataset,Detecting & Segmenting various kinds of food f...,\n# 🍕 Food Recognition 2022\n\n## Problem Stat...,Kaggle